---
Checks: >
  clang-diagnostic-*,
  clang-analyzer-*,
  -clang-analyzer-cplusplus.NewDelete,
  -clang-analyzer-optin.cplusplus.VirtualCall,
  modernize-*,
  performance-*,
  -clang-diagnostic-c++17-extensions
WarningsAsErrors: ''
HeaderFilterRegex: '.*\.(h|hpp)$'
AnalyzeTemporaryDtors: false
FormatStyle: none
CheckOptions:
  - key: readability-identifier-naming.NamespaceCase
    value: lower_case
  - key: modernize-use-nullptr.NullMacros
    value: 'NULL'
UseColor: true
# Set C++17 standard
CompileFlags:
  Add: [-std=c++17, -xc++]
