[submodule "modules/cluster-display"]
	path = modules/cluster-display
	url = https://github.com/SEAME-pt/Team06_DES_Instrument-Cluster.git
[submodule "modules/lane-detection"]
	path = modules/lane-detection
	url = https://github.com/SEAME-pt/Team06_ADS_Autonomous-Lane-Detection.git
